@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,700;1,900&display=swap');

body {
   margin: 0;
   padding:0;
    background-color: rgb(255, 255, 255);
      }
  
  * {
    box-sizing: border-box;
  }
   .parent{
       display: flex;
       height:60rem;
      flex-wrap: wrap;
       font-family: Raleway;
       background-image: url("../photo/IMG_20200911_182820.jpg" );
       
       background-size:contain;

   }
  
  .container {
    padding: 1rem;
    margin-top: 2rem;

    width: 90%;
    opacity: 0.9;
    height:40rem;
    background-color: rgb(255, 253, 253);
    justify-content: right;
    border-radius: 2rem;
    box-shadow: 6px 6px 6px 10px rgba(28, 28, 29, 0.2);
  }
  
  .logo img{
      height:auto;
      width: 50%;
      margin-top: 2rem;
      margin-left: 2rem;
      box-shadow: 10px 10px 10px 10px rgba(28, 28, 29, 0.2);
      
  }
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 7px;
    margin: 6px 0 10px 0;
    display: flex;
    flex-direction: column;
border-radius: 0.5rem;
    background: #f1f1f1;
    font-family: "Raleway";
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    font-family: "Raleway";
    border-radius: 0.5rem;
  }
  

 
  .registerbtn {
    background-color: #aa0404;
    font-family:raleway; 
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
 
  a {
    color: dodgerblue;
  }
  
 
  .signin {
    background-color: #f1f1f1;
    width: 90%;
    height: auto;
    border-radius: 1.5rem;
    margin-top: 1rem;
    
   
  }